@import "reset.scss";
@import "mixin.scss";

.container {
    width: 400px;
    background-color: white;
    @include border-radius(3px);
    padding: 30px;
    margin-bottom: 30px;

    .login-header {
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .login-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        & input{
            height: 50px;
            padding: 0 20px;
            border: 2px solid rgb(219, 219, 219);
            margin-bottom: 20px;
        }
    }
    .login-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .login-footer a{
            color: rgb(160, 160, 160);
            transition: 300ms all;

            &:hover{
                color: black;
            }
        }
    }
}
.egim {
    transition: 300ms all;
}
.login-footer a:first-child  {
    background-color: royalblue;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 3px;
    @extend .egim;
}
.login-footer a:first-child:hover{
    background-color: black;
}
.signup a {
    display: block;
    color: white;
    @extend .egim;
}
.signup a:hover{
    text-decoration: underline;
}

/* Sass kodları */
$size: 5;
$padding: 10px;
$black: black;
$white: white;
$crimson: crimson;
$blue: blue;

p {
    @if $size==6 {
        background-color: $black;
        padding: $padding;
        color: $black;
    }
    @else if ($size <= 2) {
        background-color: $white;
        padding: $padding;
        color: $black;
    }
    @else {
        background-color: $blue;
        padding: $padding;
        color: $white;
    }
}


    /* Sass kodları 
    @for $i from 1 through 5 {
        .item-#{$i} {
            width: 100px * $i;
            padding: 5px * $i;
            background-color: white;
            margin-bottom: 10px;
        }
    } */

    /*
    $yellow: yellow;
    $white: white;
    $red: red;
    $grey: grey;
    $green: green;

    $dizi: $yellow, $white, $red, $grey, $green;

    @for $i from 1 through length($dizi) {
        .item-#{$i} {
            background: nth($dizi , $i);
            padding: 20px;
            width: 200px;
            margin-bottom: 30px;
        }
    } */


$dizi : 1, 2, 3, 4, 5;

@each $i in $dizi {
    .item-#{$i} {
        font-size: $i * 15px; 
    }
}