/*  1.DERS KONUSU
$degisken-adi: blue;
$color: red;
$size: 400px;

.box {
    width: $size;
    background-color: $degisken-adi;
    color: white;
}
*/

// Değişkenler
// Mixinler
@mixin border-radius ($par){
    -o-border-radius: $par;
    -moz-border-radius: $par;
    -webkit-border-radius: $par;
    border-radius: $par;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: royalblue;
}
.container {
    width: 400px;
    background-color: white;
    @include border-radius(3px);
    padding: 30px;
    margin-bottom: 30px;

    .login-header {
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .login-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .login-content input{
            height: 50px;
            padding: 0 20px;
            border: 2px solid rgb(219, 219, 219);
            margin-bottom: 20px;
        }
    }
    .login-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .login-footer a{
            color: rgb(160, 160, 160);
            transition: 300ms all;

            &:hover{
                color: black;
            }
        }
    }
}

.login-footer a:first-child  {
    background-color: royalblue;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 3px;
    transition: 300ms all;
}
.login-footer a:first-child:hover{
    background-color: black;
}
.signup a {
    display: block;
    color: white;
    transition: 300ms all;
}
.signup a:hover{
    text-decoration: underline;
}